:root {
    --button-height: 20px;

    --radius-button: 5px;

    --card-width: 300px;
    --card-height: 250px;
    --card-radius: 10px;

    --img-height: 160px;
}

.tile{
    border: 1px solid black;
    border-radius: 10px;
    width: var(--card-width);
    height: var(--card-height);
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr .5fr .5fr;

    grid-template-areas: "A A"
                            "A A"
                            "B B" 
                            "C C";
    padding: 1%;
    margin: 1%; 
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
}

.tile:hover {
    background-color: hsla(360, 20%, 95%, .3);
}

img {
    height: var(--img-height);
    grid-area: A;
}

.tileImg{
    display: grid;
    justify-content: center;
    grid-area: A;
    padding: 5px
}

.btnArea {
    display: grid;
    grid-area: B;
}

.likeBtn{
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin: 0 auto 0 auto;
    height: var(--button-height);
    width: 50%;
    border-radius: var(--radius-button);
 
}

.likeCount {
    display: grid;
    grid-area: C;
}

h5 {
    padding: none;
}
 
