:root {
    --button-height: 20px;
    --button-width: 70px;
    --radius-button: 5px;

    --min-width-main: 400px;

    --card-width: 300px;
    --card-height: 250px;
    --card-radius: 10px;

}


.tile{
    border: 1px solid black;
    border-radius: 10px;
    width: var(--card-width);
    height: var(--card-height);
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr .25fr .5fr;

    grid-template-areas:    "image   image"
                            "image   image"
                            "like    like" 
                            "count   count";
    padding: 1%;
    margin: 1%; 
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
}


.tile:hover {
    background-color: hsla(360, 20%, 95%, .3);
}


.tileImg{
    grid-area: image;
    padding: 5px
}


.likeBtn{

    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin: 0 auto 0 auto; 
    height: var(--button-height);
    width: 90%;
    border-radius: var(--radius-button);
    grid-area: like;
}

.likeCount {
    display: grid;
    grid-area: count;
    justify-content: center;
}
 
